{% extends 'base.html.twig' %}

{% block title %}Accès Club{% endblock %}

{% block body %}

<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{{ path('accueil') }}">Accueil</a></li>
    <li class="breadcrumb-item active">Accès Club</li>
</ol>

{% endblock %}