{% extends 'base.html.twig' %}

{% block title %}Accès Club{% endblock %}

{% block body %}

<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{{ path('accueil') }}">Accueil</a></li>
    <li class="breadcrumb-item active">Accès Club</li>
</ol>

<button class="btn btn-lg btn-primary" href="#">Ajouter vos matchs</button>

 {% for match in matchs %}
    <article>
        <div>
            <h1>{{ match.Equipe }} VS {{ match.Adversaire }}</h1>
            <p>{{ match.DateMatch }}</p>
            <hr>
        </div>
    </article> 
{% endfor %}

{% endblock %}