{% extends 'base.html.twig' %}

{% block title %}Ligue-R2 Poule C{% endblock %}

{% block body %}

<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{{ path('accueil') }}">Accueil</a></li>
    <li class="breadcrumb-item active">Ligue-R2 Poule C</li>
</ol>
<main>
    <h1><center>Classement Regionale 2 - Poule C</center></h1>
    <div class="table-responsive">
        <table class="table table-bordered" id="classR1">
            <thead class="thead-dark">
                {% for tableth in tablesth %}
                        <th scope="col">{{ tableth }}</th>
                {% endfor %}
            </thead>
            <tbody>
            {% for table in tables %}
                <tr>
                    {% for value in table %}
                        <td>{{ value|replace({'RODEZ AVEYRON 3':'RODEZ AVEYRON 3 <img src="https://android-apiapp.azureedge.net/common/bib_img/logo/505909.jpg" style="height:25px; width:auto;">'})|replace({'DRUELLE F.C.':'DRUELLE F.C. <img src="https://android-apiapp.azureedge.net/common/bib_img/logo/531494.jpg" style="height:25px; width:auto;">'})|replace({'F.C. SOURCES DE L AV':'F.C. SOURCES DE L AV <img src="https://android-apiapp.azureedge.net/common/bib_img/logo/582635.jpg" style="height:25px; width:auto;">'})|replace({'LUC PRIMAUBE F.C.':'LUC PRIMAUBE F.C. <img src="https://android-apiapp.azureedge.net/common/bib_img/logo/544843.jpg" style="height:25px; width:auto;">'})|raw }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {# <div>Les descentes sont actualisées en fonction des descentes de Régionale 3.</div><br><br> #}
    </div>
    <h1><center>Résultats Dernière Journée</center></h1>
    <div id="resultat">
        {% for value in div %}
            <div>{{ value|replace({'data-src':'src'})|replace({'href="':'target="_blank" href="https://occitanie.fff.fr/'})|replace({'<div class="date_tour">':'<span class="date_tour">'})|raw }}</div>
        {% endfor %}
    </div>
</main>
{% endblock %}