{% extends 'base.html.twig' %}

{% block title %}Ligue-R3 Poule G{% endblock %}

{% block body %}

<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{{ path('accueil') }}">Accueil</a></li>
    <li class="breadcrumb-item active">Ligue-R3 Poule G</li>
</ol>
<main>
    <h1><center>Classement Regionale 3 - Poule G</center></h1>
    <div class="table-responsive">
        <table class="table table-bordered" id="classR1">
            <thead class="thead-dark">
                {% for tableth in tablesth %}
                        <th scope="col">{{ tableth }}</th>
                {% endfor %}
            </thead>
            <tbody>
            {% for table in tables %}
                <tr>
                    {% for value in table %}
                        <td>{{ value|replace({'ENT. SALLES CURAN':'ENT. SALLES CURAN <img src="https://android-apiapp.azureedge.net/common/bib_img/logo/554415.jpg" style="height:25px; width:auto;">'})|replace({'ENT. ST GEORGES LUZ.':'ENT. ST GEORGES LUZ. <img src="https://android-apiapp.azureedge.net/common/bib_img/logo/541255.jpg" style="height:25px; width:auto;">'})|replace({'ESPALION US':'ESPALION US <img src="https://android-apiapp.azureedge.net/common/bib_img/logo/506080.jpg" style="height:25px; width:auto;">'})|replace({'NAUCELLOIS FC':'NAUCELLOIS FC <img src="https://android-apiapp.azureedge.net/common/bib_img/logo/506103.jpg" style="height:25px; width:auto;">'})|replace({'SEBAZAC':'SEBAZAC <img src="https://android-apiapp.azureedge.net/common/bib_img/logo/524819.jpg" style="height:25px; width:auto;">'})|replace({'ST AFFRICAIN ST':'ST AFFRICAIN ST <img src="https://android-apiapp.azureedge.net/common/bib_img/logo/503171.jpg" style="height:25px; width:auto;">'})|raw }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {# <div>Les descentes sont actualisées en fonction des descentes de Régionale 3.</div><br><br> #}
    </div>
    <h1><center>Résultats Dernière Journée</center></h1>
    <div id="resultat">
        {% for value in div %}
            <div>{{ value|replace({'data-src':'src'})|replace({'href="':'target="_blank" href="https://occitanie.fff.fr/'})|replace({'<div class="date_tour">':'<span class="date_tour">'})|raw }}</div>
        {% endfor %}
    </div>
</main>
{% endblock %}