{% extends 'base.html.twig' %}

{% block title %}Ligue-R3 Poule F{% endblock %}

{% block body %}

<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{{ path('accueil') }}">Accueil</a></li>
    <li class="breadcrumb-item active">Ligue-R3 Poule F</li>
</ol>
<main>
    <h1><center>Classement Regionale 3 - Poule F</center></h1>
    <div class="table-responsive">
        <table class="table table-bordered" id="classR1">
            <thead class="thead-dark">
                {% for tableth in tablesth %}
                        <th scope="col">{{ tableth }}</th>
                {% endfor %}
            </thead>
            <tbody>
            {% for table in tables %}
                <tr>
                    {% for value in table %}
                        <td>{{ value }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {# <div>Les descentes sont actualisées en fonction des descentes de Régionale 3.</div><br><br> #}
    </div>
    <h1><center>Résultats Dernière Journée</center></h1>
    <div id="resultat">
        {% for value in div %}
            <div>{{ value|replace({'data-src':'src'})|replace({'href="':'target="_blank" href="https://https://occitanie.fff.fr/'})|replace({'<div class="date_tour">':'<span class="date_tour">'})|raw }}</div>
        {% endfor %}
    </div>
</main>
{% endblock %}