/* .mr-auto, .mx-auto {
  margin-right: 0!important;
} */
.navbar-nav {
  align-items: center;
}
.dropdown-item > img {
  height: 25px;
}
#form > div {
  margin-top: 2%;
}
main {
  margin: 0 20% 5% 20%;
}
main > h1 {
  margin: 2% 0 2% 0;
}
#main_index {
  margin-bottom: 5%;
}
#main_club {
  margin-bottom: 15%;
}
#h1_club {
  font-size: 36pt;
  margin-bottom: 5%;
  color: #737170;
}
table {
  text-align: center;
}
.table {
  margin-bottom: 1%;
}
article {
  display: grid;
  grid-template-columns: 25% 75%;
  margin: 2% 0 5% 0;
  align-items: center;
  border: 2px solid transparent;
  transition: 1s;
}
article:hover {
  border-color: #737170;
}
article > img {
  width: 100%;
  height: auto;
  cursor: pointer;
}
article > div:nth-of-type(1) {
  margin-left: 5%;
  padding-top: 1%;
}
article > div > h1 {
  white-space: initial;
  margin-top: 1%;
  text-transform: none;
  cursor: pointer;
}
/* article > div > a {
  margin-bottom: 1%;
} */
article > div > div > span {
  color: red;
}
#index > div > span {
  font-size: 10pt;
}
#index:first-child {
  display: block;
  border: none;
  transition: none;
  color: white;
  position: relative;
  text-align: center;
}
#index:first-child > img {
  width: 100%;
  height: 20%;
}
#index:first-child > div {
  position: absolute;
  margin-left: 0;
  padding: 1% 2% 2% 2%;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: initial;
  background-color: rgba(0, 0, 0, 0.5);
}
#index:first-child > div > span {
  margin-top: 5px;
  font-size: 15pt;
}
#index:first-child > div > h1 {
  color: white;
  /* text-align: justify; */
  text-transform: none;
}
#index:first-child > div > a {
  color: black;
  border-color: #1a1a1a;
  background-color: white;
  transition: 0.15s;
}
#index:first-child > div > a:hover {
  background-color: #1a1a1a;
  color: white;
}
#index:first-child > div > hr {
  display: none;
}
#show {
  display: block;
  border: none;
}
#show > h4 > span {
  text-transform: none;
}
#show > div:first-of-type {
  position: relative;
}
#show > div:first-of-type > img {
  width: 100%;
}
#show > div:first-of-type > div {
  position: absolute;
  margin-left: 0;
  padding: 1.5% 0 0 1%;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: initial;
  background-color: rgba(0, 0, 0, 0.5);
}
#show > div:first-of-type > div > p {
  color: white;
}
#show > h1 {
  font-size: 25pt;
  margin-bottom: 1%;
  /* text-align: justify; */
  text-transform: none;
}
#show > span:first-child {
  font-size: 20pt;
  margin-bottom: 1%;
}
#show > div {
  margin: initial;
  margin-bottom: 2%;
  font-size: 10pt;
}
#show > div > span:first-child {
  color: red;
}
#show > img {
  margin-bottom: 1%;
}
#show > p > strong > a {
  color: red;
}
#show > p > a {
  color: red;
}
.badge_show {
  padding: 1% 1.5% 1% 1.5%;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 1%;
}
.content {
  margin-bottom: initial;
  font-size: 15pt;
}
#deconnexion {
  padding: 1%;
  color: white;
  text-decoration: none;
  border: 2px solid transparent;
  transition: 1s;
}
#deconnexion:hover {
  border-color: white;
  background-color: white;
  color: black;
}
.login {
  margin: 2% 20% 10% 20%;
}
.login > input:nth-of-type(1) {
  margin-bottom: 2%;
}
.login > .btn-primary {
  padding: 1.2%;
  margin-top: 2%;
}
#inscription {
  margin: 2% 20% 10% 20%;
}
#inscription > form > div > input {
  margin-bottom: 2%;
}
#registration_form_agreeTerms {
  margin-left: 2%;
}
#match_form > div {
  margin-top: 2%;
}
#article_match {
  display: block;
}
#versus {
  text-transform: lowercase;
}

/* Resultat Match */
#resultat {
  margin-top: 5%;
}
.date_tour {
  border-bottom: 1px solid;
  border-color: #f2f2f2;
  padding-bottom: 1%;
  font-size: 15pt;
}
.text-center {
  margin-bottom: 5%;
}
.text-center > a {
  text-decoration: none;
}
.results-content {
  margin-top: 2%;
  border-bottom: 1px solid;
  border-color: #f2f2f2;
}
.confrontation > a {
  text-decoration: none;
  text-transform: uppercase;
}
.update-date {
  display: none;
}
.date {
  text-align: center;
  margin-bottom: 1%;
  font-size: 16pt;
  display: none;
}
.detail {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  text-align: center;
  align-items: center;
  margin-bottom: 1%;
}
.equipe1 {
  display: grid;
  grid-template-columns: 20% 80%;
  align-items: center;
}
.name {
  font-size: 14pt;
  font-weight: bold;
}
.logo > img {
  height: initial;
}
/* .equipe1 > div:nth-of-type(even) {
  text-align: left;
}
.equipe2 > div:nth-of-type(odd) {
  text-align: right;
} */
#resultat {
  margin: initial;
  margin: 0 5% 0 5%;
}
.score_match {
  font-size: 20pt;
  font-weight: bold;
}
.equipe2 {
  display: grid;
  grid-template-columns: 80% 20%;
  align-items: center;
}
.number {
  height: 30px;
}

/* Tableau */
#classD1 > tbody > tr:nth-of-type(2) {
  background-color: #4bbf73;
  color: white;
}
#classD1 > tbody > tr:nth-of-type(3) {
  background-color: #4bbf73;
  color: white;
}
#classD1 > tbody > tr:nth-last-child(-n + 3) {
  background-color: #d9534f;
  color: white;
}
#classD1 > tbody > tr {
  color: black;
}
#classR1 > tbody > tr:nth-of-type(2) {
  background-color: #4bbf73;
  color: white;
}
#classR1 > tbody > tr:nth-last-child(-n + 2) {
  background-color: #d9534f;
  color: white;
}
#classR1 > tbody > tr {
  color: black;
}
/* #classD1 > tbody > tr:last-child {
  background-color: #d9534f;
  color: white;
} */

/* Footer */
.foot {
  display: grid;
  grid-template-columns: 30% 70%;
}
.link {
  border-right: 1px solid;
  border-top-color: #bbb;
  opacity: 0.5;
  width: 100%;
}
.link > ul > li > span:hover {
  cursor: pointer;
}
.liens_utiles {
  margin-left: 2%;
}
.site-footer {
  background-color: #1a1a1a;
  padding: 45px 0 20px;
  font-size: 15px;
  line-height: 24px;
  color: #737373;
}
.site-footer hr {
  border-top-color: #bbb;
  opacity: 0.5;
}
.site-footer hr.small {
  margin: 20px 0;
}
.site-footer h6 {
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 5px;
  letter-spacing: 2px;
}
.site-footer a {
  color: #737373;
}
.site-footer a:hover {
  color: white;
  text-decoration: none;
}
.footer-links {
  padding-left: 0;
  list-style: none;
}
.footer-links li {
  display: block;
}
.footer-links a {
  color: #737373;
}
.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
  color: white;
  text-decoration: none;
}
.footer-links.inline li {
  display: inline-block;
}
.site-footer .social-icons {
  text-align: right;
}
.site-footer .social-icons a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin-left: 6px;
  margin-right: 0;
  border-radius: 100%;
  background-color: #33353d;
}
.copyright-text {
  margin: 0;
}
@media (max-width: 1700px) {
  article {
    grid-template-columns: 40% 60%;
  }
}
@media (max-width: 1430px) {
  .nav-item {
    margin-right: 0;
  }
  article > div > h1 {
    font-size: 1.5rem;
  }
  article > div > p {
    font-size: 12pt;
  }
  article > div > a {
    padding: 1.5%;
  }
}
@media (max-width: 1310px) {
  main {
    margin: 0 5% 0 5%;
  }
}
@media (max-width: 1170px) {
  .navbar {
    font-size: 8pt;
  }
  #deconnexion {
    font-size: 8pt;
  }
  .navbar-brand {
    width: 18%;
  }
  .navbar-brand > img {
    width: 100%;
  }
}
@media (max-width: 992px) {
  article {
    border: none;
    grid-template-columns: 40% 60%;
  }
  .navbar-nav {
    align-items: flex-start;
  }
  #deconnexion {
    padding: 0;
    border: none;
  }
  .navbar {
    font-size: 0.765625rem;
  }
  #deconnexion {
    font-size: 0.765625rem;
  }
  .navbar-brand {
    width: unset;
  }
  .navbar-brand > img {
    width: unset;
  }
  .nav-item {
    margin-right: 2rem;
  }
  .nav-item:last-child {
    margin-bottom: 1.5%;
  }
  #deconnexion:hover {
    background-color: unset;
    color: white;
  }
}
@media (max-width: 991px) {
  .site-footer [class^="col-"] {
    margin-bottom: 30px;
  }
}
@media (max-width: 850px) {
  article {
    border: none;
    grid-template-columns: 45% 55%;
  }
  article > div {
    font-size: 0.8em;
  }
  .content {
    font-size: 1.2em;
  }
  article > div > h1 {
    font-size: 1.5em;
  }
  .btn {
    padding: 1%;
  }
  .login > .btn-primary {
    margin-top: 5%;
    padding: 4%;
  }
  .buttons {
    padding: 1rem 1rem;
  }
  .date {
    font-size: 13pt;
  }
  .name {
    font-size: 12pt;
  }
  .score_match {
    font-size: 22pt;
  }
}
@media (max-width: 768px) {
  article {
    grid-template-columns: 50% 50%;
  }
}
@media (min-width: 768px) {
  .col-md-3 {
    max-width: initial;
  }
}
@media (max-width: 767px) {
  .site-footer {
    padding-bottom: 0;
  }
  .site-footer .copyright-text,
  .site-footer .social-icons {
    text-align: center;
  }
}
.social-icons {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.social-icons li {
  display: inline-block;
  margin-bottom: 4px;
}
.social-icons li.title {
  margin-right: 15px;
  text-transform: uppercase;
  color: #96a2b2;
  font-weight: 700;
  font-size: 13px;
}
.social-icons a {
  background-color: #eceeef;
  color: #818a91;
  font-size: 16px;
  display: inline-block;
  line-height: 44px;
  width: 44px;
  height: 44px;
  text-align: center;
  margin-right: 8px;
  border-radius: 100%;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
  color: #fff;
  background-color: #29aafe;
}
.social-icons.size-sm a {
  line-height: 34px;
  height: 34px;
  width: 34px;
  font-size: 14px;
}
.social-icons a.facebook:hover {
  background-color: #3b5998;
}
.social-icons a.twitter:hover {
  background-color: #00aced;
}
.social-icons a.linkedin:hover {
  background-color: #007bb6;
}
.social-icons a.dribbble:hover {
  background-color: #ea4c89;
}
.social-icons li.title {
  display: block;
  margin-right: 0;
  font-weight: 600;
}
@media (max-width: 680px) {
  .detail {
    display: block;
  }
}
@media (max-width: 650px) {
  article > img {
    width: 100%;
    height: auto;
  }
  .foot {
    display: grid;
    grid-template-columns: 40% 60%;
  }
}
