.navbar-nav {
  align-items: center;
}
#form > div {
  margin-top: 2%;
}
main {
  margin: 0 20% 0 20%;
}
main > h1 {
  margin: 2% 0 2% 0;
}
table {
  text-align: center;
}
article {
  display: grid;
  grid-template-columns: 35% 65%;
  margin: 2% 0 5% 0;
  align-items: center;
  border: 2px solid transparent;
  transition: 1s;
}
article:hover {
  border-color: #737170;
}
article > img {
  width: 100%;
  height: 100%;
}
article > div:nth-of-type(1) {
  margin-left: 5%;
  padding-top: 1%;
}
article > div > h1 {
  white-space: initial;
  margin-top: 1%;
  text-transform: none;
}
article > div > a {
  margin-top: 2%;
}
article > div > div > span {
  color: red;
}
#index > div > span {
  font-size: 10pt;
}
#index:first-child {
  display: block;
  border: none;
  transition: none;
  color: white;
  position: relative;
  text-align: center;
}
#index:first-child > img {
  width: 100%;
  height: 20%;
}
#index:first-child > div {
  position: absolute;
  margin-left: 0;
  padding: 1% 2% 2% 2%;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: initial;
  background-color: rgba(0, 0, 0, 0.5);
}
#index:first-child > div > span {
  margin-top: 5px;
  font-size: 15pt;
}
#index:first-child > div > h1 {
  color: white;
  /* text-align: justify; */
  text-transform: none;
}
#index:first-child > div > a {
  color: black;
  border-color: #1a1a1a;
  background-color: white;
  transition: 0.15s;
}
#index:first-child > div > a:hover {
  background-color: #1a1a1a;
  color: white;
}
#index:first-child > div > hr {
  display: none;
}
#show {
  display: block;
  border: none;
}
#show > h4 > span {
  text-transform: none;
}
#show>div:first-of-type {
  position:relative;
}
#show>div:first-of-type>img {
  width:100%;
}
#show>div:first-of-type>div {
  position: absolute;
  margin-left: 0;
  padding: 1.5% 0 0 1%;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: initial;
  background-color: rgba(0, 0, 0, 0.5);
}
#show>div:first-of-type>div>p {
  color:white;
}
#show>h1 {
  font-size: 25pt;
  margin-bottom: 1%;
  /* text-align: justify; */
  text-transform: none;
}
#show>span:first-child {
  font-size: 20pt;
  margin-bottom: 1%;
}
#show>div {
  margin: initial;
  margin-bottom: 2%;
  font-size: 10pt;
}
#show > div > span:first-child {
  color: red;
}
#show>img {
  margin-bottom: 1%;
}
.badge_show {
  padding: 1% 1.5% 1% 1.5%;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 1%;
}
.content {
  margin-bottom: initial;
  font-size: 15pt;
}
#deconnexion {
  padding: 1%;
  color: white;
  text-decoration: none;
  border: 2px solid transparent;
  transition: 1s;
}
#deconnexion:hover {
  border-color: white;
  background-color: white;
  color: black;
}
.login {
  margin: 2% 20% 0 20%;
}
.login > input:nth-of-type(1) {
  margin-bottom: 2%;
}
.login > .btn-primary {
  padding: 1.2%;
  margin-top: 2%;
}
#inscription {
  margin: 2% 20% 0 20%;
}
#inscription > form > div > input {
  margin-bottom: 2%;
}
#registration_form_agreeTerms {
  margin-left: 2%;
}
#match_form > div {
  margin-top: 2%;
}
#article_match {
  display: block;
}
#versus {
  text-transform: lowercase;
}
@media (max-width: 1700px) {
  article {
    grid-template-columns: 40% 60%;
  }
}
@media (max-width: 1430px) {
  .nav-item {
    margin-right: 0;
  }
  article > div > h1 {
    font-size: 1.5rem;
  }
  article > div > p {
    font-size: 12pt;
  }
  article > div > a {
    padding: 1.5%;
  }
}
@media (max-width: 1310px) {
  main {
    margin: 0 5% 0 5%;
  }
}
@media (max-width: 1170px) {
  .navbar {
    font-size: 8pt;
  }
  #deconnexion {
    font-size: 8pt;
  }
  .navbar-brand {
    width: 18%;
  }
  .navbar-brand > img {
    width: 100%;
  }
}
@media (max-width: 992px) {
  article {
    border: none;
    grid-template-columns: 40% 60%;
  }
  .navbar-nav {
    align-items: flex-start;
  }
  #deconnexion {
    padding: 0;
    border: none;
  }
  .navbar {
    font-size: 0.765625rem;
  }
  #deconnexion {
    font-size: 0.765625rem;
  }
  .navbar-brand {
    width: unset;
  }
  .navbar-brand > img {
    width: unset;
  }
  .nav-item {
    margin-right: 2rem;
  }
  .nav-item:last-child {
    margin-bottom: 1.5%;
  }
  #deconnexion:hover {
    background-color: unset;
    color: white;
  }
}
@media (max-width: 850px) {
  article {
    border: none;
    grid-template-columns: 45% 55%;
  }
  article > div {
    font-size: 0.8em;
  }
  .content {
    font-size: 1.2em;
  }
  article > div > h1 {
    font-size: 1.5em;
  }
  .btn {
    padding: 1%;
  }
}
@media (max-width: 768px) {
  article {
    grid-template-columns: 50% 50%;
  }
}
@media (max-width: 650px) {
  article > img {
    width: 100%;
    height: auto;
  }
}
